.chat-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.chat-messages{
    height: 300px;
    width: 30vw;
    border: 1px solid;
    border-radius: 15px;
    overflow: auto;
}

textarea{
    height: 100px;
    width: 30vw;
    margin-top: 50px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
}
button{
    display: block;
    height: 40px;
    width: 30vw;
    margin: auto;
    margin-top: 15px;
    background: #000;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}